{% load static %}
<html>
<head>
    <title>{% block title%}{%endblock%}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'pages/images/logo/MJ-logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'pages/css/page.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pages/css/projet.css' %}">
    <link rel="stylesheet" href="{% static 'wikiarras/css/wiki-accueil.css' %}">
    {% block style%}{%endblock%}
</head>
<body>
    <div id="base-top-bandeau">
        <div class="retour-site-bouton" align="center">
            <img class="retour-site-logo" src="{% static 'pages/images/logo/MJ-logo.png' %}"/>
            <a class="retour-site-bouton-texte" href="{% url 'index' %}">Retour au site</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
	<div id="about">
		<table class="firsttab">
			<div><p><a href="https://fr.wikipedia.org/wiki/Utilisateur:Maxence_Jeanjean" target="_blank">Mon wikipédia</a></p></div>
		</table>
	</div>
</body>
</html>