{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title%}{%endblock%}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'pages/images/logo/MJ-logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'pages/css/page.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pages/css/projet.css' %}">
    <link rel="stylesheet" href="{% static 'wikiarras/css/wiki-accueil.css' %}">
    {% block style%}{%endblock%}
</head>
<body>
    <div id="base-top-bandeau">
        <img class="base-top-logo" src="{% static 'pages/images/logo/MJ-logo.png' %}"/>
        <div class="retour-site-bouton" align="center">
            <img class="retour-site-logo" src="{% static 'wikiarras/images/logo/logo-wikiarras.jpg' %}"/>
            <a class="retour-site-bouton-texte" href="{% url 'wikiarras:accueil-wiki' %}">Wikiarras</a>
        </div>
        <div class="base-top-boutons" align="center">
            <a class="base-top-bouton-individuel" href="{% url 'index' %}">Accueil</a>
            <a class="base-top-bouton-individuel" href="{% url 'mescartes' %}">Cartographie</a>
            <a class="base-top-bouton-individuel" href="{% url 'mesrecherches' %}">Recherches</a>
            <a class="base-top-bouton-individuel" href="{% url 'genealogie' %}">Généalogie</a>
            <a class="base-top-bouton-individuel" href="{% url 'livres' %}">Livres</a>
            <a class="base-top-bouton-individuel" href="{% url 'apropos' %}">A propos</a>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
	<div class="about">
        <div class="footer-about-me">
            <div class="footer-row">
                <img class="footer-logo" src="{% static 'pages/svg/icons/user-svgrepo-com.svg' %}"/>
                <a href="{% url 'apropos' %}" target="_blank">A propos de moi</a>
            </div>
			<div class="footer-row">
                <img class="footer-logo" src="{% static 'pages/svg/icons/earth-svgrepo-com.svg' %}"/>
                <a href="https://fr.wikipedia.org/wiki/Utilisateur:Maxence_Jeanjean" target="_blank">Mon wikipédia</a>
            </div>
        </div>
        <div class="footer-social-networks">
            <div  class="footer-row">
                <img class="footer-logo" src="{% static 'pages/svg/icons/linkedin-svgrepo-com.svg' %}"/>
                <a href="https://www.linkedin.com/in/maxence-jeanjean-955343174/" target="_blank">Mon LinkedIn</a>
            </div>
            <div  class="footer-row">
                <img class="footer-logo" src="{% static 'pages/svg/icons/twitter-svgrepo-com.svg' %}"/>
                <a href="https://fr.wikipedia.org/wiki/Utilisateur:Maxence_Jeanjean" target="_blank">Mon Twitter</a>
            </div>
            <div  class="footer-row">
                <img class="footer-logo" src="{% static 'pages/svg/icons/facebook-svgrepo-com.svg' %}"/>
                <a href="https://www.facebook.com/MaxenceJeanjean2/" target="_blank">Mon Facebook</a>
            </div>
	</div>
</body>
</html>