<!-- Corps de page -->
<div class="description">
    <div class="titre-gauche"><center>Mes projets</center></div>
    {% for projet in projets %}
        <!--1er paragraphe-->
        <div class="bandeau-projet" align="center">
            <div class="boite-bandeau-projet">
                <div class="boite-bandeau-projet-texte">
                    <div class="bandeau-projet-titre">
                        <h1 class="bandeau-projet-titre-type">{{projet.get_type_display}}</h1>
                        <h1 class="bandeau-projet-titre-titre">{{ projet.titre }}</h1>
                    </div>
                    <div>
                        <div class="bandeau-projet-description">
                            <p>{{ projet.description|safe }}</p>
                        </div>
                        <div class="projet-redirection">
                            <a class="slider-lien" href="{% url 'projet_detail' projet.id %}">Voir plus...</a>
                            - {{ projet.date_creation|date:"d/m/Y" }}
                        </div>
                    </div>
                </div>
                <div class="boite-bandeau-projet-image">
                    <figure>
                        <img class="bandeau-projet-image" src="{{ projet.image.url }}" alt="{{ projet.titre }}">
                        {% if projet.image_caption %}
                        <figcaption class="bandeau-projet-image-caption" class="small">{{ projet.image_caption }}.</figcaption>
                        {% endif %}
                    </figure>
                </div>
            </div>
        </div>
    {% empty %}
        <!--1er paragraphe-->
        <div class="bandeau-projet" align="center">
                Pas de projet disponible...
        </div>
    {% endfor %}
</div>