.retour-site-logo {
    width: 50px;
    height: 100%;
    border-radius: 3px;
}
.retour-site-bouton {
    display: flex;
    align-items: center;
    background-color:#3F373C;
    gap: 10px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    padding-right: 15px;
} 
.retour-site-bouton-texte {

    font-family: 'Trebuchet MS';
    color: #D8CBB4;
}
.retour-site-bouton-texte a {
    color: #D8CBB4;
}
.retour-site-bouton-texte a:visited {
    color: #D8CBB4;
}
.retour-site-bouton-texte a:hover {
    color: #D8CBB4;
}
